<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.2.802/styles/kendo.default-ocean-blue.min.css" />
    <script src="https://kendo.cdn.telerik.com/2022.2.802/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.2.802/js/kendo.all.min.js"></script>
</head>
<style>
    .item {
        position: relative;
        padding-top: 20px;
        display: inline-block;
    }

    .notify-badge {
        position: absolute;
        right: -20px;
        top: 10px;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: white;
        padding: 5px 10px;
        font-size: 20px;
    }

    .section {
        max-height: 250px;
        padding: 0.3rem;
        overflow-y: auto;
        direction: ltr;
        scrollbar-color: #d4aa70 #e4e4e4;
        scrollbar-width: thin;
        }

    .section::-webkit-scrollbar {
        width: 20px;
    }

    .section::-webkit-scrollbar-track {
        background-color: #e4e4e4;
        border-radius: 100px;
    }

    .section::-webkit-scrollbar-thumb {
        border-radius: 100px;
        border: 6px solid rgba(0, 0, 0, 0.18);
        border-left: 0;
        border-right: 0;
        background-color: #0d6efd;
    }
</style>

<body>
    <header class="p-2 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 link-secondary">Dashboard</a></li>
                    <li><a href="/home/attendance" class="nav-link px-2 link-dark">Attendance</a></li>
                    <li><a href="/home/performance" class="nav-link px-2 link-dark">Performance</a></li>
                    <li><a href="/home/promotions" class="nav-link px-2 link-dark">Promotions</a></li>
                    <li><a href="/home/aboutUs" class="nav-link px-2 link-dark">About Us</a></li>
                </ul>
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#myProfile">My
                                Profile</a></li>
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#advToCompany">Advice to company</a></li>
                        <!-- <li><a class="dropdown-item" href="#">Settings</a></li> -->
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logout">Logout</a>
                        </li>
                    </ul>
                </div>

                <!-- modal logout -->
                <div class="modal fade" id="logout" tabindex="-1" aria-labelledby="logout" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="logout">Logout</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-body text-center">
                                    <h5>Are you soure want to logout ?</h5>
                                    <hr />
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#logout">
                                        Yes, Logout
                                    </button>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#logout">
                                        Not really
                                    </button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <p> Si Cepat Mantap</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- modal advice to company -->
                <div class="modal fade" id="advToCompany" tabindex="-1" aria-labelledby="advToCompany"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="advToCompany">Advice to Company</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">About :</label>
                                        <input name="about" type="text" class="form-control" id="recipient-name"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="message-text" class="col-form-label">Message :</label>
                                        <textarea name="remark" class="form-control" id="message-text"
                                            required></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm"
                                    data-bs-dismiss="modal"><i class="fas fa-download fa-sm text-white-50"></i>Close</a>
                                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                        class="fas fa-download fa-sm text-white-50"></i>Send message</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- modal my profile -->
                <div class="modal fade" id="myProfile" tabindex="-1" aria-labelledby="myProfile" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="myProfile">My Profile</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-5 hstack gap-3">
                                            <div class="item text-center">
                                                <a href="#">
                                                    <span class="notify-badge bg-primary">Active</span>
                                                    <img id="test" class="rounded float-start"
                                                        src="../assets/images/no-photo.jpg">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row col">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label for="name" class="col-form-label">Name : </label>
                                                    <input name="name" type="text"
                                                        class="form-control shadow-sm mb-2 rounded bg-light bg-gradient"
                                                        id="name" disabled>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="phone" class="col-form-label">Phone : </label>
                                                    <input name="phone" type="text"
                                                        class="form-control shadow-sm mb-2 rounded bg-light bg-gradient"
                                                        id="phone" disabled>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label for="email" class="col-form-label">Email : </label>
                                                    <input name="email" type="text"
                                                        class="form-control shadow-sm mb-2 rounded bg-light bg-gradient"
                                                        id="email" disabled>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="branch" class="col-form-label">Branch : </label>
                                                    <input name="branch" type="text"
                                                        class="form-control shadow-sm mb-2 rounded bg-light bg-gradient"
                                                        id="branch" disabled>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label for="departemen" class="col-form-label">Departement :
                                                    </label>
                                                    <input name="departemen" type="text"
                                                        class="form-control shadow-sm mb-2 rounded bg-light bg-gradient"
                                                        id="departemen" disabled>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="team" class="col-form-label">Team : </label>
                                                    <input name="team" type="text"
                                                        class="form-control shadow-sm mb-2 rounded bg-light bg-gradient"
                                                        id="login" disabled>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label for="AuthAndcontract" class="col-form-label">Employee Type :
                                                    </label>
                                                    <input name="AuthAndcontract" type="text"
                                                        class="form-control shadow-sm mb-2 rounded bg-light bg-gradient"
                                                        id="AuthAndcontract" disabled>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="registered" class="col-form-label">Date Registered :
                                                    </label>
                                                    <input name="registered" type="text"
                                                        class="form-control shadow-sm mb-2 rounded bg-light bg-gradient"
                                                        id="registered" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <p> Si Cepat Mantap</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="flex-shrink-0">
        <div class="container shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-0 text-center">
                <div class="p-md-4 p-4 border rounded-3">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Attendance</h1>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#modalSendReport">
                            Download Report Attendance
                        </button>
                    </div>
                    <div class="d-sm-flex section" style="border-radius: 1rem; overflow-y: scroll; max-height: 500px;">
                        <table class="table table-striped table-hover table-bordered align-middle">
                            <thead>
                              <tr>
                                <th class="table-primary" scope="col">No</th>
                                <th class="table-primary" scope="col">Name</th>
                                <th class="table-primary" scope="col">Date</th>
                                <th class="table-primary" scope="col">Status</th>
                                <th class="table-primary" scope="col">Clockin Time</th>
                                <!-- <th class="table-primary" scope="col">Clockout</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Adek</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:30</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>20220816</td>
                                <td>On Time</td>
                                <td>07:56</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Jose</td>
                                <td>20220816</td>
                                <td>Lateness</td>
                                <td>08:30</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Katakuri</td>
                                <td>20220816</td>
                                <td>Early</td>
                                <td>07:49</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Kelompok 1, Inc</span>
            </div>
        </footer>
    </div>
</body>

</html>